body {
    background-image: url("../images/natural_paper.png");
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

#crystals-collector {
    background-color: chocolate;
    padding: 20px 5px;
    margin: 10px;
    color: white;
    display: table;
}

#instructions {
    display: table;
    font-weight: bold;
    width: 50%;
    font-size: 16px;
    padding: 20px 5px 60px 5px;
    margin: 0px 10px 10px 10px;
    background-color: peachpuff;
    color: green;
}

#target-number-div {
    display: table;
    width: 25%;
    font-size: 40px;
    background-color: lightgreen;
    color: purple;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    height: 100px;
    float: left;
}

#wins-losses-div {
    display: table;
    background-color: cyan;
    padding: 20px 5px 40px 5px;
    margin: 0 10px 10px 0;
    float: left;
    height: 50px;
}

.crystal-image {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 0 10px 10px;
}

#crystal-1 {
    clear: both;
}

#your-total-score-is {
    display: table;
    clear: both;
    background-color: darkcyan;
    padding: 5px;
    color: white;
    margin: 0 10px 10px 10px;
    width: 200px;
}

#score-div {
    display: table;
    background-color: darkcyan;
    font-size: 40px;
    color: white;
    padding: 5px;
    margin: 0 10px 10px 10px;
    height: 100px;
    width: 200px;
}